{
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [
        "./index"
      ]
    }
  },
  "sourceMaps": "inline"
}